// initial variables
$radius-rounded: 10px;
$purple: #b1c0ff;
// colors
$primary: hsl(182, 84%, 45%);

//font-color
$header-title-color: hsl(229, 54%, 57%);
$default-font-color: hsl(229, 14%, 62%);

// generic variables
$default-sidebar-color:hsl(229, 55%, 52%);
$default-background-color: hsl(214, 26%, 95%);
$input-border-color: $purple;

