@import '../../../../../../../stylesheets/helpers/index';

.border-left{
  border-left: 5px solid;
  border-color: $primary;
  margin-right: 5px;
}

.head1 {
  margin-left: 10px;
}

.columns {
  .column {
    flex: 1;
  }
}



